# Python
__pycache__/
*.py[cod]
*$py.class
*.env
.venv/
env/
venv/
*.joblib.tmp
*.log

# Node & Frontend
node_modules/
dist/
dist-ssr/
*.local
.npm

# PlatformIO & Embedded
.pio/
**/.pio/
.vscode/
**/.vscode/
compile_commands.json
**/compile_commands.json

# Databases & OS
*.sqlite3
*.db
.DS_Store
Thumbs.db
